<!-- footer.html -->
<footer class="footer py-2">
    <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item">
            <a href="https://www.facebook.com/" target="_blank" class="text-decoration-none">
                <i class="bi bi-facebook mx-3 fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://twitter.com/" target="_blank" class="text-decoration-none">
                <i class="bi bi-twitter-x mx-3 fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.instagram.com/" target="_blank" class="text-decoration-none">
                <i class="bi bi-instagram mx-3 fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.threads.net/" target="_blank" class="text-decoration-none">
                <i class="bi bi-threads mx-3 fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.reddit.com/user/" target="_blank" class="text-decoration-none">
                <i class="bi bi-reddit mx-3 fs-4"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.youtube.com/" target="_blank" class="text-decoration-none">
                <i class="bi bi-youtube mx-3 fs-4"></i>
            </a>
        </li>
    </ul>
    <p class="text-center" style="color: white;">© WinChain</p>
</footer>
